.shop-container{
    display: flex;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;

}

.product-container{
    width: 80%;
    padding: 0px 40px;
}

.cart-container{
    width: 20%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.cart-container h3{
    text-align: center;
    background: gold;

}